.login-container{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    /* position: relative;
    padding: 0.5%;
    display: flex;
    align-items: center;
    justify-content: center; */ 
}
video{
    width: 100%;
    position: absolute;
    opacity: 0.9;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 100%;
    object-fit: cover;
}

@media (min-aspect-ratio :16/9) {

    
    video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio :16/9) {

    
    video{
        width: auto;
        height: 100%;
    }
}


.logo-image{
    width: 160px;
    transition-duration: 0.5s;
    cursor: pointer;
}

.logo-image:hover{
    opacity: 0.5;
}

.login-nav{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.login-ul{
    list-style: none;
}

.profile-icon{
    cursor: pointer;
    color: white;
    font-size: 30px;
    transition-duration: 0.5s;
}

.profile-icon:hover{
    opacity: 0.5;
}

.header-container{

    
}

.form-logo{
    width: 80px;
    margin-bottom: 30px;
}

.login-h1{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: left;
    color: white;
}

.login-secondary-text{
    font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 12px;
  color: white;

}

.main-register-link{
    color: white;
}

.form-container p{
    color: skyblue;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 10px;
}


.form-logo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-container{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 30px;
    align-items: center;
    backdrop-filter: blur(10px);
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-container input{
    width: 300px;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: rgba(0, 0, 0, 0.667);
    outline: none;
    border-width: 0px;
}

.form-container input::placeholder{

    font-family: "Poppins", sans-serif;
    font-size: 12px;
}


.login-btn{
    width: 300px ;
    margin-top: 20px;
    background-color: skyblue;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    border: 1px;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}


.login-btn:hover{
    backdrop-filter: blur(20px);

    color: skyblue;
}

.login-content-container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.register-text{
    color: skyblue;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    margin-top: 10px;
    
}







#password-error-msg{
    color: rgb(241, 107, 107);
    font-size: 12px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    font-family: Roboto;
}

.register-link{
    transition-duration: 0.5s;
}

.register-link:hover{
    opacity: 0.5;
}

@media screen and (max-width:600px) {

    .form-container{
        width: 400px;
    }
    .login-content-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo-image{
        width: 100px;
    }
    .profile-icon{
        width: 50px;
    }

    .form-container input{
        width: 300px;
    }

    .form-container p{
        font-size: 10px;
    }
    
}

@media screen and (max-width:420px){
    .form-container{
        width: 300px;
    }
    .form-container input{
        width: 200px ;
    }
    .login-btn{
        width: 200px;
        font-size: 12px;
    }
}

@media screen and (max-width:350px){
    .form-container{
        width: 200px;
    }
    .form-container input{
        width: 150px ;
    }
    .login-btn{
        width: 150px;
        font-size: 12px;
    }
}